<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zappers.gola">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GolaTheme">
        <activity
            android:name=".Activities.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/GolaTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />


            </intent-filter>
        </activity>
        <activity
            android:name=".Details"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Subjects"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Activities.NewUser"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activities.MarkAttendance"
            android:label="@string/app_name">
        </activity>

        <service android:name=".Services.MyService" />
        <receiver
            android:name=".Models.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
